/*====================================================
	Importing bootstrap less files
====================================================*/
/*====================================================
	COLOR VARIABLE FOR THEME
====================================================*/
/* common */
/*====================================================
	common styles
====================================================*/
html,
body {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #303030;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
a {
  color: #505050;
  outline: none;
}
a:hover {
  color: #f4645f;
}
a:active,
a:focus,
a img {
  outline: none;
}
.btn {
  padding: 7px 14px;
  border-radius: 2px;
}
.btn-default {
  border: 1px solid #f4645f;
  background: #f4645f;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
.btn-default:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  padding: 7px 7px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #f4645f;
  outline: none;
}
blockquote {
  border-left: 4px solid #f4645f;
}
pre {
  padding: 0;
  background: none;
  border: none;
}
::-moz-selection {
  color: #ffffff;
  background: #f4645f;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background: #f4645f;
  text-shadow: none;
}
/* header */
/*====================================================
  header
====================================================*/
.main-header {
  text-align: center;
  padding: 42px 0;
  background: #f4645f;
  background-image: url(./../img/bac.jpg);
  color: #fff;
}
.main-header h1{
  color: #fff;
  padding-bottom: 20px;
}
.main-header h4{
  color: #fff;
}
/* nav */
/*====================================================
  nav
====================================================*/
.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;
  border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu {
  padding: 0;
  margin: 0;
  border: none;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li.active {
  border-bottom: 2px solid #f4645f;
  //margin-bottom: -2px;
}
.main-navigation .menu li.active a{
  border: none;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}
.main-navigation .menu li:hover > a {
  color: #f4645f;
  text-decoration: none;
  background: #fff;
  border-color: #fff;
}
.navbar-header {
  text-align: center;
}
.navbar-header i {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}
/* post */
/*====================================================
  main post area
====================================================*/
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .featured {
  position: absolute;
  background: #f4645f;
  color: #ffffff;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  font-size: 2.0em;
  line-height: 1.2em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  text-decoration: none;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 14px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .featured-media img {
  width: 100%;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.post .post-footer .tag-list {
  color: #959595;
  line-height: 28px;
}
.post .post-footer .tag-list a {
  color: #959595;
  margin-left: 7px;
}
.post .post-footer .tag-list a:hover {
  color: #f4645f;
}
/* post content */
/*====================================================
  main post content
====================================================*/
.post-content {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
  text-align: left;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: #222223;
}
.post-content h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}
.post-content > h1 {
  margin-top: 0;
  font-size: 2em;
}
.post-content h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.post-content h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
.post-content h6 {
  font-weight: 500;
}
.post-content p {
  margin-top: 0;
  margin-bottom: 1.46em;
}
.post-content a {
  word-wrap: break-word;
  -moz-text-decoration-color: rgba(0, 0, 0, 0.4);
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.4);
          text-decoration-color: rgba(0, 0, 0, 0.4);
}
.post-content a:hover {
  -moz-text-decoration-color: rgba(0, 0, 0, 0.6);
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.6);
          text-decoration-color: rgba(0, 0, 0, 0.6);
}
.post-content a img {
  /* Remove border on IE */
  border: none;
}
.post-content strong,
.post-content b {
  font-weight: 700;
  color: #222223;
}
.post-content em,
.post-content i {
  font-style: italic;
  color: #222223;
}
.post-content img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}
.post-content figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}
.post-content figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.post-content figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}
.post-content figure figcaption a {
  text-decoration: none;
  color: #666665;
}
.post-content hr {
  display: block;
  width: 50%;
  height: 1px;
  border: 0 none;
  border-top: #dededc 1px solid;
  margin: 3.2em auto;
  padding: 0;
}
.post-content blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid #f4645f;
  padding-left: 12px;
  color: #666664;
}
.post-content blockquote a {
  color: #666664;
}
.post-content ul,
.post-content ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}
.post-content ul {
  list-style-type: square;
}
.post-content ol {
  list-style-type: decimal;
}
.post-content li {
  margin-bottom: 0.2em;
}
.post-content li ul,
.post-content li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}
.post-content li ul {
  list-style-type: disc;
}
.post-content li ul ul {
  list-style-type: circle;
}
.post-content li p {
  margin: 0.4em 0 0.6em;
}
.post-content .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-content code,
.post-content tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
}
.post-content pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}
.post-content pre code,
.post-content pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}
.post-content table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.post-content th,
.post-content td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}
.post-content td {
  vertical-align: top;
}
.post-content tr:nth-child(even) {
  background-color: #efefee;
}
.post-content iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
.post-content figure iframe {
  margin: auto;
}
.post-content table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
@media (min-width: 1100px) {
  .post-content blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;
  }
  .post-content blockquote blockquote {
    margin-left: 0;
  }
  .post-content figure img {
    margin: 0 0 4px;
  }
  .post-content figure figcaption {
    position: absolute;
    left: -172px;
    width: 150px;
    top: 0;
    text-align: right;
    margin-top: 0;
  }
  .post-content figure figcaption:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid #dededc;
    display: block;
    content: "";
    margin-bottom: 10px;
  }
}
.windows .post-content {
  font-size: 16px;
  font-family: "Georgia", "SimSun", sans-serif;
}
.post-permalink{
  text-align: center;
}
/* pagination */
/*====================================================
  pagination
====================================================*/
.pagination {
  margin: 0 auto 35px;
  width: 180px;
  text-align: center;
  display: block;
}
.pagination .page-number {
  background: #f4645f;
  color: #ffffff;
  margin: 0 3px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
  border-radius: 2px;
}
.pagination a{
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background: #f4645f;
  border-radius: 2px;
}
.pagination a:hover {
  background: #505050;
  text-decoration: none;
  color: #ffffff;
}
.pagination a i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 10px;
  font-weight: normal;
}
/* sidebar */
/*====================================================
  sidebar
====================================================*/
.widget {
  background: #ffffff;
  padding: 21px 30px;
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #f4645f;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget li{
  padding:10px 0;
  border-bottom: 1px dashed #ebebeb;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.widget li.list-top{
  padding-top: 0px;
}
.widget li a:hover{
  text-decoration: none;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.widget .tag-cloud a.active{
  background: #f4645f;
  color: #fff;
}
.widget .tag-cloud a i{
  display: none;
}
.widget .tag-cloud a.active i{
  display: inline-block;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #f4645f;
  border: 1px solid #f4645f;
  text-decoration: none;
}
/* leave message */
/*====================================================
  main message area
====================================================*/
.message-board{
  background: #ffffff;
  padding: 21px 30px;
  margin-bottom: 35px;
}
.msg-num{
  border: 1px solid #ebebeb;
  padding: 4px 7px;
  border-radius: 5px;
  color: #858585;
}
.msg-num strong{
  padding: 0 4px;
  color: #f4645f;
}
.message{
  padding-top: 30px;
}
.message ul{
  list-style: none;
}
.message ul li{
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
.message .l-msg-head{
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 40px;
}
.message .l-msg-head img{
  width: 100%;
}
.message .l-msg-box{
  position: relative;
  padding-left:30px; 
}
.message .l-msg-box a{
  color: #f4645f;
}
.message .l-msg-box a:hover{
  text-decoration: none;
}
.message .l-msg-box ol{
  margin-top: 20px;
  background: #eee;
}
.message .l-msg-box ol li{
  padding-top: 20px;
  border-bottom: 1px dashed #ddd;
}
.message .msg-footer{
  font-size: 12px;
  color: #858585;
}
.message .msg-footer a{
  padding: 0 7px;
  color: #858585;
  transition:.4s all ease;
}
.message .msg-footer a:hover{
  color: #f4645f;
  font-size: 13px;
}
.message .msg-footer i{
  padding: 0 3px;
}
.leave-message{
  padding-top: 30px;
}
.leave-message .msg-head{
  width: 40px;
  height: 40px;
}
.leave-message .msg-head img{
  width: 100%;
}
.leave-message .msg-text{
  width: calc(100% - 60px);
}
.leave-message .msg-text .face-img{
  position: relative;
  width: 35px;
}
.leave-message .msg-text .expression{
  position: relative;
  border: 1px solid #ebebeb;
  border-top: 0;
}
.leave-message .msg-text .exp-box{
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
  padding: 10px 10px 0;
  width: 410px;
  height: 120px;
  background: #fff;
  border: 1px solid #ebebeb;
}
.leave-message .msg-text .exp-box ul{
  //border: 1px solid #ccc;
}
.leave-message .msg-text .exp-box li{
  float: left;
  padding: 5px;
}
.leave-message .msg-text .exp-left-box{
  position: relative;
}
.leave-message .msg-text textarea{
  position: relative;
  height: 100px;
  border-color: #ebebeb;
  resize:none;
}
.leave-message .msg-text button{
  position: relative;
  padding: 4px 40px;
}
.main-footer{
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ffffff;
  background: #f4645f;
  width: 30px;
  height: 30px;
}
.back-to-top:hover{
  color: #fff;
  text-decoration: none;
}
.back-to-top i{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
}
/* about me */
/*====================================================
  about me content area
====================================================*/
.aboutMe {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.aboutMe .featured {
  position: absolute;
  background: #f4645f;
  color: #ffffff;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.aboutMe .featured i {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.aboutMe .aboutMe-title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 2.0em;
  line-height: 1.2em;
  border-bottom: 1px solid #ebebeb;
}
.aboutMe .aboutMe-meta {
  color: #959595;
  margin: 14px 0 0px;
}
.aboutMe h4{
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}
.aboutMe .aboutMe-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.aboutMe .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.aboutMe .featured-media img {
  width: 30%;
}
.aboutMe .aboutMe-content {
  margin: 30px 0;
}
.aboutMe .aboutMe-content img{
  margin-top: 20px;
  width: 30%;
}
.aboutMe .aboutMe-dl dt{
  width: 12%;
  text-align: left;
}
.aboutMe .aboutMe-dl dd{
  width: 83%;
  margin-left: 15%;
}
.aboutMe .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.aboutMe .post-footer .tag-list {
  color: #959595;
  line-height: 28px;
}
.aboutMe .post-footer .tag-list a {
  color: #959595;
  margin-left: 7px;
}
.aboutMe .post-footer .tag-list a:hover {
  color: #f4645f;
}
/* blog content */
/*====================================================
  main blog content area
====================================================*/
.on-file{
  padding:20px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.on-file dl{
  padding: 10px;
  margin: 0 20px;
  border-bottom: 1px solid #ebebeb;
}
.on-file dt{
  text-align: left;
}